.textContainer {
    padding: 2%;
}

.textContainer h1{
    color: black;
    font-family: 'Archivo Black';
    font-size: 400%;
    margin-bottom: 0;
}

.textContainer p{
    font-size: 150%;
    font-family: 'Archivo';
    margin-top: 40px; 
}

.textTitle{
    width: fit-content;
    border-bottom: black 10px solid;
}

.textManifesto{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-right: 5%;
}

#dowloadManifesto{
    color: white;
    padding: 20px;
    background-color: #2D6D2C;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 700;
}
#dowloadManifesto:hover{
    color: black;
    background-color: #E3BC26;
}
