.menu {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0%;
    -webkit-box-shadow: 0 7px 6px -6px #777;
    -moz-box-shadow: 0 7px 6px -6px #777;
         box-shadow: 0 7px 6px -6px #777;
}

.menuLogo{
    display: flex;
    width: 10%;
    float: left;
    margin-left: 2%;
}

.menuLogo img{
    width: 80%;
}

.linkGroup {
    display: flex;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.linkGroup a{
    font-family: 'Archivo', "sans-serif";
    color: #E3BC26;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
