.cicloContainer {
    display: flex;
    padding: 2%;
}

.cicloContainer h1{
    color: black;
    font-family: 'Archivo Black';
    font-size: 400%;
    margin-bottom: 0;
}

.cicloContainer p{
    font-size: 150%;
    width: 80%;
    font-family: 'Archivo';
    margin-top: 40px; 
}

.textTitle{
    width: fit-content;
    border-bottom: black 10px solid;
}

.cicloOficinas{
    width: 230%;
    display: flex;
    margin-right: 2%;
    margin-top: 120px;
    flex-direction: column;
}


.cicloOficinas a{
    border: #C5C2C2 solid 1px;
    padding: 2%;
}